$color-primary-grey: #2c2d34;
$color-primary-orange-dark: #e94822;
$color-primary-orange-light: #f2910a;
$color-primary-yellow: #efd510;

$color-blue-dark: #04009a;
$color-blue-light: #3edbf0;

$color-green-dark: #50cb93;
$color-green-light: #54e346;

$color-red: #ff0000;
$color-mustard: #ffbd39;

$color-purple: #a73489;
$color-pink: #ff3d68;

$color-black: #000;
$color-white: #fff;
