.button {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 12rem;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 1px 2px $color-primary-grey;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 2px 4px $color-primary-grey;
    }

    &--white {
        background-color: $color-white;
        color: $color-primary-orange-dark;
    }

    &--maths {
        margin-top: 1rem;
        padding: 0.5rem;
        color: $color-green-dark;
        display: none;

        @include respond(tab-land) {
            display: initial;
        }
    }

    &--physics {
        margin-top: 1rem;
        padding: 0.5rem;
        color: $color-red;
        display: none;

        @include respond(tab-land) {
            display: initial;
        }
    }

    &--biology {
        margin-top: 1rem;
        padding: 0.5rem;
        color: $color-blue-dark;
        display: none;

        @include respond(tab-land) {
            display: initial;
        }
    }

    &--chemistry {
        margin-top: 1rem;
        padding: 0.5rem;
        color: $color-purple;
        display: none;

        @include respond(tab-land) {
            display: initial;
        }
    }

    &--signup {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        height: 3.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        background-color: $color-primary-orange-dark;
        margin-top: 1rem;
        &:hover {
            background-color: darken($color-primary-orange-dark, 5%);
        }
    }
}
